@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  color: #000000;
  background:  linear-gradient(-225deg, #bafde9 0%, #fdb3ed 100%);
  box-shadow: 0px 4.42184px 107.23px rgba(232, 83, 224, 0.51);
}

.btn:hover {
  color: #fdfdfd;
  background: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
  box-shadow: 0px 4.42184px 107.23px rgba(238, 236, 238, 0.51);
}

.gradient,
.active {
  background: linear-gradient(-225deg, #bafde9 0%, #fdb3ed 100%);
}

.active {
  color: #040404;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .font1 {
    /* font-family: "WindSong", cursive; */
    font-family: "Rubik Glitch", system-ui;
    @apply text-[45px] lg:text-[45px] md:text-[30px] sm:text-[20px] lg:mb-6 md:mb-3 sm:mb-1 tracking-[10%] uppercase;
  }
  .font2 {
    font-family: "Space Grotesk", sans-serif;
    @apply text-[17px] lg:text-[22px] md:text-[17px] sm:text-[15px] lg:mb-6 md:mb-3 sm:mb-1 tracking-[10%] ;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-9 lg:py-24 lg:h-screen flex items-center;
  }
}

